# -----------------------------
# PROYECTO CAPCOLLECTION
# -----------------------------

# Archivos de datos
data/exports/
data/*.xlsx

# -----------------------------
# PYTHON
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Archivos temporales
*.log
*.tmp

# -----------------------------
# STREAMLIT
# -----------------------------
.streamlit/

# -----------------------------
# EDITORES
# -----------------------------
# Visual Studio Code
.vscode/

# Cursor
.cursorignore
.cursorindexingignore

# -----------------------------
# PAQUETES / BUILD
# -----------------------------
build/
dist/
*.egg-info/
.eggs/
*.egg
MANIFEST

# -----------------------------
# JUPYTER
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# TESTS / COVERAGE
# -----------------------------
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# -----------------------------
# MISC
# -----------------------------
.DS_Store